* {
  /* get rid of all default margins in the browser */
  margin: 0;
}
body {
  /* background: #000 url("img/background4.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff; */
  font-family: Arial, Helvetica, sans-serif;
}
.app-container {
  background-color: #111;
}
/* ROW.JS */
.row {
  margin-left: 20px;
  color: #ffffff;
}
/* display: flex; = changes .row_poster from column to row */
/* overflow-y: hidden; = hide scrollbar */
/* overflow-x: scroll; = x axis becomes a scroll! */
/* padding: 10px; = add so we have room for the grow effect on pictures on hover */
.row-posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px;
}
/* Dont display horizonal scrollbar but keep the functionality of it */
.row-posters::-webkit-scrollbar {
  display: none;
}
/* width: 100%; = make image fit within screen */
/* object-fit: contain; = will keep aspect ratio no mater your size, USE THIS With max-height:100px; */
.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 0.5s;
  max-height: 220px;
  border-bottom: solid #111;
}
.row_poster:hover {
  opacity: 0.85;
  border-bottom: solid hsl(360, 67%, 44%);
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transform: scale(0.96);
}
.row_posterLarge {
  max-height: 300px;
}
.row_posterLarge:hover::after {
  transform: scale(1.05);
}

/* ROW.JS */
/* ROW-BANNER */
.row-banner {
  object-fit: contain;
}
.row-banner:hover {
  transition-timing-function: ease-out;
  transition: all 0.2s;
  border-left: solid 10px hsl(360, 67%, 44%);
}

.row-banner-content:hover {
  background-color: rgba(51, 51, 51, 0.5);
  transition-timing-function: ease-out;
  transition: all 0.5s;
}
.row-banner-content:hover a {
  color: hsl(360, 67%, 44%);
}

.row-banner-content {
  color: #fff;
  padding-left: 10px;
}
.row_banner_title {
  font-size: 2rem;
  font-weight: 800;
  text-decoration: none;
  color: #fff;
  transition-timing-function: ease-out;
  transition: all 0.5s;
}

.row_date {
  padding-top: 5.5px;
}
.row_description {
  width: 45rem;
  max-width: 360px;
  line-height: 1.4;
  font-size: 0.9rem;
  padding-top: 00.5rem;
  padding-bottom: 00.5rem;
}

/* BANNER.JS */
.banner {
  color: #fff;
  object-fit: contain;
  height: 450px;
}
.banner-contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}
.banner_title {
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
/* width and max-width pulls the text in a container */
.banner_description {
  width: 45rem;
  max-width: 360px;
  line-height: 1.4;
  padding-top: 1rem;
  font-size: 0.9rem;
  height: 80px;
}
.banner_button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}
.banner_button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
.banner-fadeBottom {
  height: 7.5rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.4),
    #111
  );
}

/* NAV.JS */
/* position: fixed; + top: 0; should be together to make nav stick to the top */
/* also beware when we use position: fixed; its behavior with  justify-content: space-between; will bug */
/* the solution is to instead manually add position: fixed; & padding left/right to .nav-logo & .nav-avatar  */
.nav {
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
  padding: 20px;
  padding-bottom: 25px;
  z-index: 1;
  /* Animations */
  transition: all 0.5s ease-in-out;
}
.nav-black {
  opacity: 0.97;
  /* background-color: #111; */
  background-color: hsl(360, 67%, 44%);
}
.nav-logo {
  position: fixed;
  left: 20px;
  width: 40px;
  object-fit: contain;
}
.nav-avatar {
  position: fixed;
  right: 20px;
  width: 40px;
  object-fit: contain;
}

.nav-button-group {
  text-align: end;
  margin-right: 20px;
}

.nav-button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(34, 34, 34, 0.5);
}

.nav-button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

/*
===============
SignUp // Login
===============
*/
.contact-page {
  /* display: grid; */
  /* place-items: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(59, 59, 59, 0.4),
    #111
  );
}
.card-body {
  /* display: flex; */
  /* max-width: "400px"; */
  align-items: baseline;
  justify-content: center;
  background: #fff;
  border-radius: 0.25rem;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 90vw;
  max-width: 35rem;
}
.card-body:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.card-body h3 {
  padding-top: 1.25rem;
  color: black;
}
.form-group {
  padding: 1rem 1.5rem;
}
.form-control {
  display: block;
  justify-content: center;
  width: 95%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  background: hsla(0, 1%, 73%, 0.336);
  border-radius: 0.25rem;
}
.form-control::placeholder {
  font-family: "Roboto", sans-serif;
  color: hsl(209, 61%, 16%);
}
.submit-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  color: #fff;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  background-color: hsl(360, 67%, 44%);
  /* BUTTON ÄR INTE RÄTT FIXAT I MITTEN */
  /* margin-left: 15px; */
}

.form-alert-box {
  width: 100%;
  margin-bottom: 0.1rem;
  color: red;
  /* margin: 12px 16px; */
  border: none;
  border-radius: 0.25rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.form-alert-box-success {
  width: 100%;
  margin-bottom: 0.1rem;
  color: rgb(8, 177, 2);
  /* margin: 12px 16px; */
  border: none;
  border-radius: 0.25rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.submit-btn:hover {
  color: #000;
  background-color: rgba(52, 252, 2, 0.5);
  transition: all 0.2s;
}

.form-option {
  padding-top: 15px;
  text-align: center;
  color: #fff;
}
